# Python & Environments
.venv/
env/
__pycache__/
*.pyc
.env
.gradio

# Downloaded/Converted Models
phowhisper-small-ct2
phowhisper-base-ct2
phowhisper-tiny-ct2

#
.gradio
vizwiz_dataset_1000

models/
*.gguf

output_response.wav
